.sticky {
  position: sticky;
}

.top-10 {
  top: 10px;
}

.top-30 {
  top: 30px;
}

.top-50 {
  top: 50px;
}

.top-65 {
  top: 65px;
}

.top-80 {
  top: 80px;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}