/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.index
/storage/framework/cache/*
/vendor
/resources/babel.babel
.idea
.env
.env.backup
.env.testing
.php-cs-fixer.cache
.phpunit.result.cache
.phpstorm.meta.php
.vscode/
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
prettier.json
/public/temp
