#viewport {
  display: flex;
  height: 100%;
  width: 100%;
  transition: 200ms all ease;
  flex: 1;
}

#application-wrapper {
  display: flex;
  height: 100%;
}

#application-wrapper #content {
  position: relative;
  width: 100%;
}

#single-page {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

#single-page #page-content {
  margin: 0 auto;
}

#single-page #page-content.full-width {
  max-width: 100%;
}

#single-page #page-content.medium-width {
  max-width: 700px;
}

#single-page #page-content.large-width {
  max-width: 1190px;
}

#single-page #page-content.small-width {
  max-width: 690px;
}

#single-page #page-content.center-page {
  height: 100%;
  padding-top: 20px;
  margin-bottom: 50px;
  display: grid;
  width: 100%;
}

#single-page #page-content.center-page .content-page {
  margin: auto;
  width: 100%;
}

.form-fixed-width {
  width: 700px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 25px;
}

.form-group-label {
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 0.3px;
  margin-bottom: 25px;
  display: block;
}

.menu-list-wrapper.vertical {
  margin-bottom: 20px;
}

.menu-list-wrapper.vertical .menu-list-item {
  display: block;
  padding: 12px 15px 12px 25px;
}

.menu-list-wrapper.horizontal {
  display: flex;
  border-bottom: 2px solid #F8F8F8;
  margin-bottom: 30px;
  overflow-x: auto;
  z-index: 9;
  position: -webkit-sticky;
  position: sticky;
  background: white;
  top: 40px;
}

.menu-list-wrapper.horizontal::-webkit-scrollbar {
  display: none;
}

.menu-list-wrapper.horizontal .menu-list-item {
  display: inline-block;
  padding: 15px 10px;
  margin: 15px 10px 0;
  border-bottom: 2px solid transparent;
}

.menu-list-wrapper.horizontal .menu-list-item:first-child {
  margin-left: 0;
}

.menu-list-wrapper.horizontal .menu-list-item.router-link-exact-active {
  border-bottom: 2px solid #00BC7E;
}

.menu-list-wrapper .menu-list-item {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.menu-list-wrapper .menu-list-item.link {
  display: flex;
  align-items: center;
}

.menu-list-wrapper .menu-list-item.link.is-active svg path,
.menu-list-wrapper .menu-list-item.link.is-active svg line,
.menu-list-wrapper .menu-list-item.link.is-active svg polyline,
.menu-list-wrapper .menu-list-item.link.is-active svg rect,
.menu-list-wrapper .menu-list-item.link.is-active svg circle,
.menu-list-wrapper .menu-list-item.link.is-active svg ellipse,
.menu-list-wrapper .menu-list-item.link.router-link-exact-active svg path,
.menu-list-wrapper .menu-list-item.link.router-link-exact-active svg line,
.menu-list-wrapper .menu-list-item.link.router-link-exact-active svg polyline,
.menu-list-wrapper .menu-list-item.link.router-link-exact-active svg rect,
.menu-list-wrapper .menu-list-item.link.router-link-exact-active svg circle,
.menu-list-wrapper .menu-list-item.link.router-link-exact-active svg ellipse,
.menu-list-wrapper .menu-list-item.link:hover svg path,
.menu-list-wrapper .menu-list-item.link:hover svg line,
.menu-list-wrapper .menu-list-item.link:hover svg polyline,
.menu-list-wrapper .menu-list-item.link:hover svg rect,
.menu-list-wrapper .menu-list-item.link:hover svg circle,
.menu-list-wrapper .menu-list-item.link:hover svg ellipse {
  stroke: #00BC7E;
}

.menu-list-wrapper .menu-list-item.link.is-active .label,
.menu-list-wrapper .menu-list-item.link.router-link-exact-active .label,
.menu-list-wrapper .menu-list-item.link:hover .label {
  color: #00BC7E;
}

.menu-list-wrapper .menu-list-item.link .icon {
  margin-right: 12px;
  line-height: 0;
}

.menu-list-wrapper .menu-list-item.link .icon path,
.menu-list-wrapper .menu-list-item.link .icon line,
.menu-list-wrapper .menu-list-item.link .icon polyline,
.menu-list-wrapper .menu-list-item.link .icon rect,
.menu-list-wrapper .menu-list-item.link .icon circle,
.menu-list-wrapper .menu-list-item.link .icon ellipse {
  stroke: #1B2539;
}

.menu-list-wrapper .menu-list-item.link .text-label {
  font-size: 1em;
}

.menu-list-wrapper .menu-list-item:hover .delete-icon,
.menu-list-wrapper .menu-list-item.is-active .delete-icon {
  display: block;
}

.menu-list-wrapper .menu-list-item .folder-icon {
  line-height: 0;
  width: 15px;
  margin-right: 9px;
  vertical-align: middle;
  margin-top: -1px;
}

.menu-list-wrapper .menu-list-item .delete-icon {
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-list-wrapper .menu-list-item .label {
  font-size: 0.8125em;
  font-weight: 700;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  color: #1B2539;
}

.menu-list-wrapper.favourites.is-dragenter .menu-list {
  border: 2px dashed #00BC7E;
  border-radius: 8px;
}

.menu-list-wrapper.favourites .menu-list {
  border: 2px dashed transparent;
}

.menu-list-wrapper.favourites .menu-list .menu-list-item {
  padding: 8px 23px;
}

.menu-list-wrapper.favourites .menu-list .menu-list-item .icon {
  margin-right: 5px;
  width: 20px;
}

.menu-list-wrapper.favourites .menu-list .menu-list-item .icon path,
.menu-list-wrapper.favourites .menu-list .menu-list-item .icon line,
.menu-list-wrapper.favourites .menu-list .menu-list-item .icon polyline,
.menu-list-wrapper.favourites .menu-list .menu-list-item .icon rect,
.menu-list-wrapper.favourites .menu-list .menu-list-item .icon circle,
.menu-list-wrapper.favourites .menu-list .menu-list-item .icon ellipse {
  transition: 150ms all ease;
}

.menu-list-wrapper.favourites .menu-list .menu-list-item:hover .folder-icon path,
.menu-list-wrapper.favourites .menu-list .menu-list-item:hover .folder-icon line,
.menu-list-wrapper.favourites .menu-list .menu-list-item:hover .folder-icon polyline,
.menu-list-wrapper.favourites .menu-list .menu-list-item:hover .folder-icon rect,
.menu-list-wrapper.favourites .menu-list .menu-list-item:hover .folder-icon circle,
.menu-list-wrapper.favourites .menu-list .menu-list-item:hover .folder-icon ellipse,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-selected .folder-icon path,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-selected .folder-icon line,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-selected .folder-icon polyline,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-selected .folder-icon rect,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-selected .folder-icon circle,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-selected .folder-icon ellipse,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-current .folder-icon path,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-current .folder-icon line,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-current .folder-icon polyline,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-current .folder-icon rect,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-current .folder-icon circle,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-current .folder-icon ellipse {
  stroke: #00BC7E;
}

.menu-list-wrapper.favourites .menu-list .menu-list-item:hover .label,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-selected .label,
.menu-list-wrapper.favourites .menu-list .menu-list-item.is-current .label {
  color: #00BC7E;
}

.empty-note {
  font-size: 0.75em;
  color: rgba(27, 37, 57, 0.7);
  display: block;
}

.table .action-icons {
  white-space: nowrap;
}

.table .action-icons a,
.table .action-icons .icon,
.table .action-icons .icon-wrapper {
  display: inline-block;
  margin-left: 10px;
}

.table .action-icons a:first-child,
.table .action-icons .icon:first-child,
.table .action-icons .icon-wrapper:first-child {
  margin-left: 0;
}

.table .action-icons .icon {
  cursor: pointer;
}

.table .action-icons .icon circle,
.table .action-icons .icon path,
.table .action-icons .icon line,
.table .action-icons .icon polyline {
  stroke: #1B2539;
}

.table .action-icons .icon.icon-trash circle,
.table .action-icons .icon.icon-trash path,
.table .action-icons .icon.icon-trash line,
.table .action-icons .icon.icon-trash polyline {
  stroke: #FE6057;
}

.table .cell-item {
  white-space: nowrap;
  font-weight: 700;
}

.mt-70 {
  margin-top: 70px;
}

.capitalize {
  text-transform: capitalize;
}

@media only screen and (max-width: 1024px) {
  #single-page #page-content.full-width,
  #single-page #page-content.medium-width,
  #single-page #page-content.small-width {
    max-width: 100%;
    width: 100%;
  }

  .menu-list-wrapper .menu-list-item {
    padding: 12px 15px 12px 20px;
  }

  .menu-list-wrapper.favourites .menu-list .menu-list-item {
    padding: 8px 18px;
  }
}

@media only screen and (max-width: 960px) {
  #single-page {
    padding-left: 30px;
    padding-right: 30px;
  }

  #single-page #page-content {
    padding-top: 0;
  }

  #single-page #page-content.center-page {
    padding-top: 0;
  }

  .menu-list-wrapper.horizontal {
    top: 30px;
  }

  .form-fixed-width {
    width: 100%;
  }
}

@media only screen and (max-width: 690px) {
  #single-page {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  .empty-note {
    color: #7d858c;
  }

  .menu-list-wrapper.horizontal {
    border-bottom: 2px solid rgba(255, 255, 255, 0.02);
    background: #111314;
  }

  .menu-list-wrapper .menu-list-item.link .icon path,
  .menu-list-wrapper .menu-list-item.link .icon line,
  .menu-list-wrapper .menu-list-item.link .icon polyline,
  .menu-list-wrapper .menu-list-item.link .icon rect,
  .menu-list-wrapper .menu-list-item.link .icon circle,
  .menu-list-wrapper .menu-list-item.link .icon ellipse {
    stroke: #bec6cf;
  }

  .menu-list-wrapper .menu-list-item .label {
    color: #bec6cf;
  }

  .menu-list-wrapper .menu-list-item .icon path,
  .menu-list-wrapper .menu-list-item .icon line,
  .menu-list-wrapper .menu-list-item .icon polyline,
  .menu-list-wrapper .menu-list-item .icon rect,
  .menu-list-wrapper .menu-list-item .icon circle,
  .menu-list-wrapper .menu-list-item .icon ellipse {
    stroke: #bec6cf;
  }

  .menu-list-wrapper .menu-list-item:hover {
    background: rgba(0, 188, 126, 0.1);
  }

  .menu-list-wrapper .menu-list-item:hover .label {
    color: #00BC7E;
  }

  .menu-list-wrapper .menu-list-item:hover .icon path,
  .menu-list-wrapper .menu-list-item:hover .icon line,
  .menu-list-wrapper .menu-list-item:hover .icon polyline,
  .menu-list-wrapper .menu-list-item:hover .icon rect,
  .menu-list-wrapper .menu-list-item:hover .icon circle,
  .menu-list-wrapper .menu-list-item:hover .icon ellipse {
    stroke: #00BC7E;
  }

  .table .action-icons .icon circle,
  .table .action-icons .icon path,
  .table .action-icons .icon line,
  .table .action-icons .icon polyline {
    stroke: #bec6cf;
  }
}

