@import '@assets/vue-file-manager/_variables';
@import '@assets/vue-file-manager/_mixins';

.form {
  max-width: 700px;

  &.inline-form {
    display: flex;
    position: relative;
    justify-content: center;

    .input-wrapper {
      position: relative;

      .error-message {
        position: absolute;
        left: 0;
        bottom: -25px;
      }
    }
  }

  &.block-form {

    .block-wrapper {
      margin-bottom: 20px;

      label {
        @include font-size(12);
        color: #AFAFAF;
        font-weight: 700;
        display: block;
        margin-bottom: 5px;
      }
    }

    .button {
      margin-top: 50px;
    }
  }
}

.input-wrapper {

  .error-message {
    @include font-size(14);
    color: $danger;
    padding-top: 5px;
    display: block;
    text-align: left;
  }
}

textarea {
  width: 100%;
}

textarea,
input[type="password"],
input[type="text"],
input[type="email"] {
  border: 1px solid transparent;
  @include transition(150ms);
  @include font-size(15);
  border-radius: 8px;
  padding: 13px 20px;
  appearance: none;
  font-weight: 700;
  outline: 0;
  width: 100%;
  background: $light_mode_input_background;

  &.is-error {
    border-color: $danger;
    box-shadow: 0 0 7px rgba($danger, 0.3);
  }

  &::placeholder {
    //color: $light_text;
    color: rgba($text, 0.5);
    @include font-size(15);
  }

  &:focus {
    border-color: $theme;
    box-shadow: 0 0 7px rgba($theme, 0.3);
  }

  &[disabled] {
    background: hsl(0, 0%, 98%);
    cursor: not-allowed;
  }
}

.additional-link {
  @include font-size(16);
  margin-top: 50px;
  display: block;
  color: $text;

  b, a {
    color: $theme;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 960px) {
  .form {

    .button {
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    input, textarea {
      width: 100%;
      min-width: 100%;
    }

    &.block-form {

      .block-wrapper {
        display: block;

        label {
          width: 100%;
          padding-right: 0;
          display: block;
          margin-bottom: 7px;
          text-align: left !important;
          @include font-size(14);
          padding-top: 0;
        }
      }

      .button {
        margin-top: 25px;
        margin-left: 0;
        margin-right: 0;
      }
    }

    &.inline-form {
      display: block;

      .input-wrapper .error-message {
        position: relative;
        bottom: 0;
      }
    }

    .button {
      padding: 14px 32px;
    }
  }


  textarea,
  input[type="password"],
  input[type="text"],
  input[type="email"] {
    padding: 14px 20px;
  }
}

@media (prefers-color-scheme: dark) {

  .form {

    &.block-form {

      .block-wrapper label {
        color: $dark_mode_text_primary;
      }
    }
  }

  textarea,
  input[type="password"],
  input[type="text"],
  input[type="email"] {
    background: $dark_mode_foreground;
    color: $dark_mode_text_primary;


    &::placeholder {
      color: $dark_mode_text_secondary;
    }

    &[disabled] {
      color: rgba($dark_mode_text_secondary, 15%);
    }
  }
}