@import '@assets/vuefilemanager/_mixins';
@import '@assets/oasis/_variables';

.container {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.oasis-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;

  .logo {
    width: 235px;

    img {
      width: 100%;
    }
  }

  .links {
    display: inline-block;
  }
}

.header {
  display: block;
  text-align: center;

  .log-in {
    display: block;
    margin-top: 12px;

    a {
      @include transition(150ms);
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        color: $theme;
      }
    }
  }
}

.links {
  display: block;

  li {
    display: inline-block;

    a {
      cursor: pointer;
      @include font-size(17);
      padding: 9px 30px;
      color: $text-primary;
      font-weight: 800;
      @include transition;
      border-radius: 25px;

      &:hover, &.router-link-active {
        background: white;
        box-shadow: 0 6px 20px -10px rgba($theme, 0.35);
      }
    }
  }
}

.info-wrapper {
  padding-bottom: 45px;

  .info-group {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .info-icon {
    display: flex;
    align-items: center;

    .info-description {
      margin-bottom: 0;
      text-decoration: underline;
      @include transition;

      &:hover {
        color: $cyan;
      }
    }

    svg {
      margin-right: 10px;

      line, path, polyline {
        stroke: $cyan;
        stroke-width: 1.5;
      }
    }
  }

  .info-description {
    @include font-size(20);
    color: $text-dark-secondary;
    font-weight: 500;
    margin-bottom: 7px;
    max-width: 320px;
    line-height: 1.6;
  }
}