@media only screen and (min-width: 1440px) {
  .container {
    width: 1750px;
  }
}

@media only screen and (max-width: 1024px) {

    .container {
      width: 100%;
      padding-left: 25px;
      padding-right: 25px;
    }
}

@media only screen and (max-width: 960px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-title {
    @include font-size(38);
    line-height: 1.1;
    margin-bottom: 20px;
  }

  .main-title-sm {
    @include font-size(32);
    line-height: 1.1;
    margin-bottom: 20px;
  }

  .sub-title {
    @include font-size(20);
    font-weight: 600;
  }

  .sub-title-sm {
    @include font-size(18);
    font-weight: 600;
    line-height: 1.6;
  }

  .theme-button {
    @include font-size(19);
  }

  .base-button {
    @include font-size(15);
  }

  .info-title {
    @include font-size(21);
    margin-bottom: 12px;
  }
}