$dark-mode-text: #bec6cf;
$dark-mode-background: #141414;

$text-primary: #312E5C;
$text-secondary: #545E71;

$text-dark-secondary: #BFBCE6;
$text-dark-subtitle: #9995CD;

$gradient-theme: linear-gradient(135deg, rgba(97,126,231,1) 0%, rgba(201,37,240,1) 100%);

$theme-bg-dark: #312E5C;
$theme-bg-light: #383469;

$theme: #AE5FEC;
$cyan: #19BCE0;
$pink: #E40DF2;
